

.App {
  text-align: center;
}

.cardcl{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.hero{
  display: flex;
  justify-content: space-between;
}
.formdata{
  margin: 12px;
padding: 23px;
min-width: 340px;
border-radius: 2rem;
/* background: rgb(255,255,255); */
border-style: solid ;
border-color:  #3f51b5;
}
@media only screen and (max-width: 600px) {
  .hero{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .formdata{
    margin: 5px;
    padding: 13px;
    min-width: 240px;
   background-color: rgb(255, 255, 255);
  }
}